[user]
  name = 天然ほっけ
  email = natural.hokke@gmail.com
[color]
  ui = true
[alias]
  st = status -sb
  br = branch -a
  hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit --date=relative
  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep "^[a-z]"
  pr-checkout = !sh -c 'git fetch $1 pull/$2/head:pr-$2 && git checkout pr-$2' -
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  editor = vim -c \"set fenc=utf-8\"
	quotepath = false
